{{ define "profile"}}
{{ template "header_log"}}
<div class="login-box ">
  <h2>SOSEDI</h2>
  <form>
    <div class="user-box">
      <input ttype="email"  name="" required>
      <label>Email</label>
    </div>
    <div class="user-box">
      <input type="password" name="" required maxlength="40" minlength="6">
      <label>Password</label>
    </div>
    <a href="#">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Submit
    </a>
  </form>
</div>
<style media="screen">
  html {
    height: 100%;
  }
  body {
    margin:0;
    padding:0;
    font-family: sans-serif;
    background: linear-gradient(rgb(34,37, 41), #003457);
  }
</style>
</body>
</html>
{{ end }}
