<form>
  <div class="user-box">
    <input type="email" name="" required>
    <label>Email</label>
  </div>
  <div class="user-box">
    <input type="text" name="" required maxlength="40">
    <label>Name</label>
  </div>
  <div class="user-box">
    <input type="text" name="" required maxlength="40">
    <label>Surname</label>
  </div>
  <div class="user-box">
    <input type="password" name="" required maxlength="40" minlength="6">
    <label>Password</label>
  </div>
  <div class="user-box">
    <input type="password" name="" required maxlength="40" minlength="6">
    <label>Repeat password</label>
  </div>
  <a href="#" onclick='change_forms();'>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Далее
  </a>
</form>
