{{ define "user_card"}}
<div class="card">
  <div class="photo">
    <img src="https://sun9-73.userapi.com/impg/AzeoUiylJmykxyJUYxk8DoGet2DFYrOrBmTktg/BELd4Y4ci-o.jpg?size=1068x948&quality=96&sign=be3891c295837728ecb0c8ed31c00507&type=album" alt="" class="img">
  </div>
  <div class="info">
    <span class="name">Олеся, </span>
    <span class="age">25</span><br>
    <span class="price">23 000 - 50 000 ₽</span><br>
    <span class="likes_number">20 ♥</span>
  </div>
  <div class="icon_wraper">
    <img src="../static/img/heart.svg" alt="" class="icon">
  </div>
</div>
{{ end }}
