{{ define "user_card"}}
<div class="card">
  <a href="/profile/{{ .Id }}" id="link_card">
    <div class="photo" href="/profile/{{ .Id }}">
      <img src="https://sun9-73.userapi.com/impg/AzeoUiylJmykxyJUYxk8DoGet2DFYrOrBmTktg/BELd4Y4ci-o.jpg?size=1068x948&quality=96&sign=be3891c295837728ecb0c8ed31c00507&type=album" alt="" class="img">
    </div>
    <div class="info">
      <span class="name">{{ .Name }}, </span>
      <span class="age">25</span><br>
      <span class="price">{{ .PriceMin }} - {{ .PriceMax }} ₽</span><br>
      <span class="likes_number">20 ♥</span>
    </div>
    <div class="icon_wraper">
      <img src="../static/img/heart.svg" alt="" class="icon">
    </div>
  </a>
</div>
<style media="screen">
  a {
    text-decoration: none !important;
    color: inherit !important;
  }
</style>
{{ end }}
